@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-garamond: 'EB Garamond', serif;
  --color-primary: #172554;
  /* --color-accent: #E0B973; */
  --color-accent: #f8c410;
  --color-secondary: #bfdbfe;
  --color-tertiary: #14386F;
  --breakpoint-2xl: 90rem;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.font-heading {
  @apply font-garamond font-bold text-white
}

.font-body {
  @apply text-white font-montserrat
}

.font-body-header {
  @apply font-montserrat font-bold text-white
}

.custom-container {
  @apply mx-auto px-5 md:px-7 lg:px-9 max-w-[1440px]
}

.footer-link-hover {
  @apply transition hover:text-white duration-200 ease-in-out
}

.hover-utility {
  @apply transition-all duration-200 ease-in
}

.hover-opacity {
  @apply duration-300 transition-all ease-in-out hover:opacity-70
}

.hover-underline {
  @apply relative inline-block;
}

.hover-underline::after {
  content: '';
  @apply absolute left-0 bottom-0 w-full h-[2px] bg-current scale-x-0 origin-right transition-transform duration-500;
}

.hover-underline:hover::after {
  @apply scale-x-100 origin-left;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: var(--color-white);
  background-color: var(--color-primary);
  z-index: 100;
  @apply rounded-full py-2 px-5 hidden lg:flex
}

.swiper-button-prev,
.swiper-button-next {
  margin-inline: 1rem;
  z-index: 1000;
}